@model MySaleApp.Admin.UI.ViewModel.ChangePasswordViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card shadow-sm rounded-4 border-0">
                <div class="card-header bg-light  text-center rounded-top-4">
                    <h4 class="mb-0">Change Password</h4>
                </div>
                <div class="card-body">
                    <form asp-action="ChangePassword" method="post" novalidate>
                        <div class="mb-3">
                            <label asp-for="CurrentPassword" class="form-label">Current Password</label>
                            <input asp-for="CurrentPassword" class="form-control" type="password" placeholder="Enter your old password"/>
                            <span asp-validation-for="CurrentPassword" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="NewPassword" class="form-label">New Password</label>
                            <input asp-for="NewPassword" class="form-control" type="password" placeholder="Enter your new password" />
                            <span asp-validation-for="NewPassword" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Confirm New Password</label>
                            <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm your new password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary rounded-pill">Update Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
